/*--------------------------------------------------------------
#  Color Variables
--------------------------------------------------------------*/

:root {
	--color-basic-2: #0a902e10;
	--color-basic-3: #0a902ea8;
	--color-basic-4: #0a902e73;
	--color-basic-5: #0a902e;
	--color-white: #fff;
	--color-grey-0: #f8f8f8;
	--color-grey-1: #ebebeb;
	--color-grey-2: #d7d7d7;
	--color-grey-3: #7C869A;
	--color-grey-4: #494e59;
	--color-grey-6: #323232;
	--color-grey-7: #252525;
	--heading-color: #323232;
	--default-color: #3d4348;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 18px;
	line-height: 1.5;
}

@media (max-width: 992px) {
	html {
		font-size: 16px;
	}
}

@media (max-width: 767px) {
	html {
		font-size: 14px;
	}
}

/* @media(max-width: 576px) {
	html {
		font-size: 12px;
	}
} */

.text-shadow-black {
	text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-out 0s;
}

a:hover {
	color: var(--color-basic-5);
}

h1,
h2,
h3,
h4 {
	text-transform: capitalize;
	color: var(--heading-color);
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

ul {
	list-style-type: none;
}

p {
	color: var(--color-grey-4);
	font-size: 1em;
	text-align: justify;
}

.bg_cover {
	background-position: center center;
	background-size: cover;
}

.text-basic {
	color: var(--color-basic-5);
}

.bg-basic {
	background-color: var(--color-basic-5);
}

.btn {
	border-radius: 0;
}

.btn-basic {
	background-color: var(--color-basic-5);
	color: white;
	border-radius: 0;
}

.btn-basic:hover {
	background-color: var(--color-basic-4);
	color: white;
}

.section-title {
	color: var(--color-basic-5);
	display: inline-block;
	padding: 0.1em 0.5em;
}

.section-wrapper {
	max-width: 1000px;
	margin: 10vh auto;
}

.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mt-6 {
	margin-top: 200px;
}

.pt-6 {
	padding-top: 200px;
}



@media(min-width: 991px) {
	.filter-box {
		width: 85%;
	}
}

.summary {
	text-align: justify;
}

/* ===================================== */
/* ***************** header **************** */
/* ===================================== */
#header-area {
	background-color: rgb(255, 255, 255);
	padding: 2px 6%;
	z-index: 99;
	position: fixed;
	border-bottom: solid 1px var(--color-grey-1);
	font-size: 0.8em;
}

.logo-wrapper img {
	width: 50px;
}

.lang-wrapper .btn {
	width: 80px;
	padding: 5px;
}
.logo {
	border-radius: 50%;
	box-shadow: 5px 5px 30px white, -5px -5px 30px white;
}
.navbar {
	background-image: linear-gradient(  rgba(65, 116, 90, 0.815) 20%,rgba(16, 148, 9, 0));
}

.navbar-collapse{
	align-self: flex-start;
	padding: 5px 0;
}
.navbar a{
	color: white ;
	font-weight: 400;
}
.navbar a:hover {
	color: white;
	font-weight: 700;
	text-shadow: 1px 1px 5px black;
}
.active ,nav .navlink.show{
	color: white  !important;
	font-weight: 900 !important;
}
 .dropdown-menu{
	background-color: var(--color-basic-3);
}
.navbar-toggler,.navbar-toggler-icon{
	color: var(--color-grey-0) !important;
}
.form-select , .form-control{
	font-size: 1em;
}
/* ===================================== */
/* ************** cover-area *********** */
/* ===================================== */
#cover-area {
	height: 110vh;
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -98px;
	background-image:linear-gradient(rgba(162, 213, 159, 0), 80%, rgba(3, 152, 73, 0.815)), url('/assets/images/cover/cover.jpg');
}

#cover-area>* {
	z-index: 9;
	align-items: center;
}


/*============================
************ footer ***********
============================= */
#footer-area {
	background: var(--color-grey-1);
	padding-top: 70px;
	color: var(--color-grey-7);
	border-top: solid 10px var(--color-grey-2);
	font-size: 1.3em;
}

.footer-widget {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-widget h4 {
	color: var(--color-basic-5);
}

.footer-widget a {
	color: var(--color-grey-6);
	font-weight: 500;
}

.about a {
	border-bottom: solid 2px var(--color-grey-2);
	display: inline-block;
	margin-bottom: 10px;
}

.footer-copyright {
	background-color: var(--color-grey-2);
}

.footer-copyright * {
	text-align: center;
}


/*============================
******* fixed button **********
============================= */
.fixed-button {
	position: fixed;
	z-index: 99999;
}

.fixed-button li {
	width: 35px;
	height: 35px;
	background: var(--color-grey-2);
	color: var(--color-grey-7);
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease-out 0s;
	margin-top: 2px;
}

.fixed-button li:hover {
	background-color: var(--color-basic-5);
}

.fixed-button li:hover a {
	color: #fff;
}

.fixed-button a {
	color: var(--color-grey-7);
}

.back-to-top {
	bottom: 30px;
	right: 0px;
	display: none;
}

.active {
	display: block;
}


/* ********* tourist page ************/
/* ===================================== */
/* ************** cover-area *********** */
/* ===================================== */
#cover-area {
	height: 110vh;
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -98px;
	background-image:linear-gradient(rgba(162, 213, 159, 0), 80%, rgba(3, 152, 73, 0.815)), url('/assets/images/cover/cover.jpg');
}

#cover-area>* {
	z-index: 9;
	align-items: center;
}

/* ===================================== */
/* ******* statistic *********** */
/* ===================================== */

.single-counter {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	padding: 35px 10px;
}

.single-counter .counter {
	font-size: 1.5em;
}

.single-counter .icon {
	font-size: 3em;
	color: var(--color-basic-5);
}

/* ===================================== */
/* ************** swipper *********** */
/* ===================================== */
[class^="btn-swipper"] {
	font-size: 2em;
	position: absolute;
	z-index: 9;
	color: var(--color-basic-5);
	top: 35%;
}

.swipper-container {
	position: relative;
	padding: 0 1.5em;
}

.btn-swipper-next {
	right: 0;
}

.btn-swipper-prev {
	left: 0;
}


/* ===================================== */
/* ************** popular-area *********** */
/* ===================================== */
.summary  {
	color:var(--color-grey-4) !important
}
.summary:hover{
	color: var(--color-grey-7) !important
}
.popular-img {
	position: relative;
	bottom: 15px;
	overflow: hidden;
}

.popular-content {
	position: relative;
	top: 15px;
	font-weight: 500;
	font-size: 16px;
	box-shadow: 1px 2px 5px var(--color-grey-1);
}

.popular-img {
	position: relative;
	bottom: 15px;
	overflow: hidden;
}

.popular-img img {
	height: 310px;
}

@media(max-width:767px) {

	.popular-content,
	.popular-img {
		position: static;
	}

	.popular-content {
		border: solid 1px var(--color-grey-1);
		box-shadow: none;
	}
}

#popluars-area [class^="btn-swipper"] {
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 100%;
	background-color: var(--color-basic-4);
	color: var(--color-grey-0);
	display: flex;
	justify-content: center;
	align-items: center;
}

#results {
	min-height: 70vh;
}
.card img{
	height: 200px;	
	object-fit: cover;
}
