:root {
    --magnifier: 6;
    --gap: 1vmin;
    --transition: 2s;
}

.container {
    width: 80vw;
    height: 50vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

img {
    --brightness: 0.75;
    --grayscale: 1;
    transition: flex var(--transition), filter var(--transition);
    height: 100%;
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));
    object-fit: cover;
    overflow: hidden;
    flex: 1;
}

img:hover {
    --brightness: 1.15;
    --grayscale: 0;
    flex: var(--magnifier);
}

.main-img-wrapper{
    text-align: center;
}